# packages in environment at C:\Users\willy\anaconda3\envs\PROGRAM:
#
beautifulsoup4==4.11.1
joblib==1.1.0
lxml==4.8.0
nltk==3.7
numpy==1.22.4
pandas==1.4.2
pip==22.2.1
requests==2.27.1
sastrawi==1.0.1
scikit-learn==1.0.2
scipy==1.8.1
seaborn==0.11.2
stqdm==0.0.4
streamlit==1.11.1
streamlit-aggrid==0.2.3.post2
tqdm==4.64.0
stopwords