# packages in environment at C:\Users\willy\anaconda3\envs\PROGRAM:
#
# Name                    Version                   Build  Channel
beautifulsoup4            4.11.1          py310haa95532_0
bs4                       4.11.1               hd3eb1b0_0
lxml                      4.8.0           py310h1985fb9_0
nltk                      3.7                      pypi_0    pypi
numpy                     1.22.4                   pypi_0    pypi
numpy-base                1.22.3          py310h206c741_0
pandas                    1.4.2                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pip                       22.2.1                   pypi_0    pypi
python                    3.10.4               hbb2ffb3_0  
python-dateutil           2.8.2                    pypi_0    pypi
python-dotenv             0.19.2                   pypi_0    pypi
sastrawi                  1.0.1                    pypi_0    pypi
scikit-learn              1.0.2           py310h4ed8f06_0  
scipy                     1.8.1                    pypi_0    pypi
seaborn                   0.11.2                   pypi_0    pypi
stqdm                     0.0.4                    pypi_0    pypi
streamlit                 1.10.0                   pypi_0    pypi
streamlit-aggrid          0.2.3.post2              pypi_0    pypi
tqdm                      4.64.0                   pypi_0    pypi
